<div class="cv-container">
    <div class="row">
    <div class="col-md 4 left-section">
    <h2>EQUITY GROUP EMPLOYEE TALENT PROFILE</h2>
      <h3>Personal & Organisation Information</h3>
      <p><strong>Name:</strong> Joe Bloggs</p>
      <p><strong>Position Title:</strong> Group Head of Employee Relations</p>
      <p><strong>Level:</strong> General Manager</p>
      <p><strong>Department:</strong> Group HR</p>
      <p><strong>Name Line Manager:</strong> David Ssegawa</p>
      <p><strong>Position Title of Line Manager:</strong> Group Director HR Operations</p>
      <div class="photo">
        <img src="../../../assets/img/owner_photo.PNG" alt="Profile Photo" class="profile-photo">
      </div>
  
      <h3>Previous Roles Held</h3>
      <p><strong>Position Title 1:</strong> </p>
      <p><strong>Employer:</strong></p>
      <p><strong>Position Title 2:</strong></p>
      <p><strong>Employer:</strong></p>
    </div>
  
    <div class="col-md 4 middle-section">
      <h3>Employee Education </h3>
      <p><strong>Qualification:</strong> MBA</p>
      <p><strong>Name of University:</strong> UoN</p>
      <p><strong>Name of Qualification:</strong> BSc Bio Medical Engineering</p>
      <p><strong>Name of University:</strong> UoN</p>
  
      <h3>Professional Accreditations </h3>
      <p><strong>Accreditation:</strong> Chartered MCIPD</p>
      <p><strong>Accrediting Body:</strong> CIPD UK</p>
  
      <h3>Other Certifications </h3>
      <p><strong>Certification:</strong> Executive Coach</p>
      <p><strong>Certifying Body:</strong> AoEC</p>
  
      <h3>Skill Profile</h3>
      <p><strong>Coding in Java</strong></p>
      <p><strong>Proficiency Level:</strong> Advanced</p>
  
      <h3>Performance History</h3>
      <p><strong>Half Year 2023:</strong> 4.0</p>
  
      <h3>Talent Designations </h3>
      <p><strong>Potential Ratings:</strong> 2023: A, 2022: B</p>
      <p><strong>Talent Mapping:</strong>2023: H1, 2022: H1 </p>
      <p><strong>Is Role Critical:</strong>Yes/No </p>
      <p><strong>Is Employee an MVP:</strong>Yes/No </p>
    </div>
    <div class="col-md 4 right-section">
        <h3>Employee Education </h3>
        <p><strong>Qualification:</strong> MBA</p>
        <p><strong>Name of University:</strong> UoN</p>
        <p><strong>Name of Qualification:</strong> BSc Bio Medical Engineering</p>
        <p><strong>Name of University:</strong> UoN</p>
    
        <h3>Professional Accreditations </h3>
        <p><strong>Accreditation:</strong> Chartered MCIPD</p>
        <p><strong>Accrediting Body:</strong> CIPD UK</p>
    
        <h3>Other Certifications </h3>
        <p><strong>Certification:</strong> Executive Coach</p>
        <p><strong>Certifying Body:</strong> AoEC</p>  
    </div>
    </div>
  </div>
  