<div class="container-fluid">
    <form [formGroup]="myForm" (ngSubmit)="onSubmitted()">
      <ol class="breadcrumb-arrow align-items-center">
        <li><a>Succession</a></li>
        <li><a>Planning</a></li>
      </ol>
      <div class="example-small-box mat-elevation-z4">
        <div class="table-responsive">
          <table class="table table-bordered table-hover" id="sp">
            <thead>
              <tr>
                <th scope="col">Department</th>
                <th scope="col">Succession Driver</th>
                <th scope="col">Key Role</th>
                <th scope="col">Current Role Holder</th>
                <th scope="col">Retention Risk Rating (H,M,L)</th>
                <th scope="col">Ready Now (RN)</th>
                <th scope="col">Ready in 1-2 Years (R1-2)</th>
                <th scope="col">Ready in Longer than 2 years (R>2)</th>
                <th scope="col">External Ready Successor (Name, Current Role, Organisation)</th>
                <th scope="col">Submit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div>
                    <select id="department" formControlName="departments" class="form-control">
                      <option value="Treasury" selected>Treasury</option>
                      <option value="Cash">Cash</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div>
                    <select id="succession-driver" formControlName="SuccessionDriver" class="form-control">
                      <option value="Leadership Continuity" selected>Leadership Continuity</option>
                      <option value="Critical Roles Cover">Critical Roles Cover</option>
                      <option value="Regulatory Imperatives">Regulatory Imperatives</option>
                      <option value="Strategic Growth Planning">Strategic Growth Planning</option>
                      <option value="Talent Transition">Talent Transition</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div>
                    <select id="key-role" formControlName="keyRole" class="form-control">
                      <option value="Auditing">Auditing</option>
                      <option value="Washwash">Washwash</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div>
                    <select id="current-role-holder" formControlName="currentHolder" class="form-control">
                      <option *ngFor="let employee of employees" [value]="employee.userFullName">
                        {{employee.userFullName}}
                      </option>
                    </select>
                  </div>
                  
                </td>
                <td>
                  <div>
                    <select id="retention-risk" formControlName="retentionRisk" class="form-control">
                      <option value="High" selected>High</option>
                      <option value="Medium">Medium</option>
                      <option value="Low">Low</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div>
                    <input type="text" id="ready-now" formControlName="readyNow" class="form-control" (click)="openReadyNowDialog()" readonly>
                  </div>
                </td>
                <td>
                  <div>
                    <input type="text" id="ready-in-1-2-years" formControlName="readytwo" class="form-control" (click)="openReadyTwoDialog()" readonly>
                  </div>
                </td>
                <td>
                  <div>
                    <input type="text" id="ready-in-more-than-2-years" formControlName="readyMore" class="form-control" (click)="openReadyMoreDialog()" readonly>
                  </div>
                </td>
                <td>
                  <div>
                    <input type="text" id="external-ready-successor" formControlName="externalSuccessor" class="form-control" placeholder="Brenda Doe, Head ALM, MK Solutions Ltd">
                  </div>
                </td>
                <td>
                  <input type="submit" value="Submit" class="btn btn-primary">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
  
  

