<div class="container-fluid">
    
    <div class="">
        <div class=" d-flex justify-content-between">
            <div class="card col-md-5">
                <h5 class="text-center py-1" >Add Employees as Excel</h5>
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                        <input type="file" (change)="onFileSelected($event)" />
                        <button class="btn btn-md btn-primary" (click)="onUpload()" *ngIf="!uploading">Upload</button>
                    </div>
                    <div class="d-flex align-items-center" *ngIf="uploading">
                        <div class="spinner-border btn-primary" role="status">
                        </div>
                        <span class="sr-only">Uploading...</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex align-items-center justify-content-center">
                <div>
                    <h5>Add Single Employee</h5>
                    <button class="btn btn-md btn-primary" (click)="openCreateEmployeeDialogue()">
                        Create Employee
                    </button>
                </div>
            </div>
        </div>

    </div>


    <div class="table">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <th>#</th>
            <th>PF Number</th>
            <th>Employee Name</th>
            <th>Employee Type</th>
            <th>Action</th>

        </thead>
        <tbody>
            <tr *ngFor="let employee of managerEmployees; let i = index">
                <td> {{i+1}} </td>
                <td> {{employee.pf}} </td>
                <td> {{employee.userFullName}} </td>
                <td> {{employee.userType}} </td>
                <td>
                    <button  class="btn btn-md btn-primary d-flex align-items-center" (click)="navigateToUserProfile(employee.userId)">
                        <mat-icon> visibility </mat-icon> view profile
                    </button>
                   
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

</div>
</div>