.assessment-card {
    margin-bottom: 15px;
  }
  
  .statistics-card {
    margin-top: 15px;
    background-color: #f8f9fa;
  }
  
  .statistics-card h4 {
    margin-bottom: 15px;
  }
  
  .statistics-card p {
    padding: 4px 1px;
    margin: 5px 0;
  }
  