<div class="container-fluid">
  <button (click)="closeDialog()" class="close">
    <mat-icon>close</mat-icon>
  </button>
  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!"
  >

    <mat-step label="Create Customized Assesement">
      <h6>Assessment Details Section</h6>
      <div class="justify-content-center">
        <div class="header-nav mt-4 mb-2 justify-content-center">
          <form [formGroup]="assessmentForm">
            <table class="example-full-width" cellspacing="10">
              <tr>
                <td>
                  <mat-form-field
                    class="example-full-width mx-1"
                    style="width: 18vw"
                  >
                    <mat-label>Target Group for this assessment</mat-label>
                    <mat-select formControlName="target">
                      <mat-option
                        *ngFor="let targetgrp of targetGroup"
                        [value]="targetgrp"
                      >
                        {{ targetgrp }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              
                <td>
                  <mat-form-field
                    class="example-full-width mx-1"
                    style="width: 15vw"
                  >
                    <mat-label>Assessment Name</mat-label>
                    <input
                      matInput
                      placeholder="Add Assessment Name"
                      formControlName="assessmentName"
                    />
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field>
                    <mat-label>Assessment End Date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="picker1"
                      formControlName="endDate"
                    />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </td>
              </tr>
              <tr></tr>
            </table>
            <div class="">
              <mat-form-field style="width: 65vw" class="example-full-width">
                <mat-label>Assessment Description</mat-label>
                <textarea
                  matInput
                  formControlName="assessmentDescription"
                ></textarea>
              </mat-form-field>
            </div>
          </form>
          <button (click)="submitAssesementDetails()">Submit</button>
        </div>
        <br />
       
      </div>
    </mat-step>
   
  </mat-stepper>
</div>
