<div class="container">  
    
    <h5> Add Potential Attributes</h5>  
      
    <form [formGroup]="attributeForm" (ngSubmit)="onSubmit()">
        <table class="table table-striped" formArrayName="attributes">  
            <tr>  
            <th colspan="2">Add Multiple Attributes:</th> 
            </tr>  
            <tr *ngFor="let quantity of attributes().controls; let i=index" [formGroupName]="i">  
            <td>  
                Potential Attribute Name :  
                <input type="text" formControlName="potentialAttributeName" class="form-control" required>  
            </td>  
            <td class="my-2">  
                Potential Attribute Description:  
                <input type="text" formControlName="potentialAttributeDescription" class="form-control" required>  
            </td>  
            <td>  
                <button (click)="removeAttribute(i)" style="background-color: brown;" class="btn btn-danger">Remove</button>  
            </td>  
            </tr>
            <td><button type="button" (click)="addAttribute()" class="btn btn-md btn-primary my-4">Add More</button></td>  
        </table>  
        
        <button class="btn btn-success btn-md" id="submit" type="submit">Submit</button>            
    </form>  
    
      
</div>