<div class="container-fluid  ">
    <div class="dialog-action mb-5 mt-1">
        <button class="cancel" (click)="closeDialog()">x</button>
      </div>
      
      <div class="dialog-content">
        <form [formGroup]="createEmployeeForm" (ngSubmit)="onSubmit()" class="employee-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="userFullName">Full Name</label>
                        <input #matInput id="userFullName" placeholder="Enter name" formControlName="userFullName" class="form-control">
                        <div *ngIf="createEmployeeForm.get('userFullName').touched && createEmployeeForm.get('userFullName').invalid" class="text-danger">
                            Name is required.
                        </div>
                    </div>
                </div>
      
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pf">PF</label>
                        <input id="pf" placeholder="1234" formControlName="pf" class="form-control">
                        <div *ngIf="createEmployeeForm.get('pf').touched && createEmployeeForm.get('pf').invalid" class="text-danger">
                            PF is required.
                        </div>
                    </div>
                </div>
            </div>
      
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" formControlName="username" class="form-control">
                        <div *ngIf="createEmployeeForm.get('username').touched && createEmployeeForm.get('username').invalid" class="text-danger">
                            Username is required.
                        </div>
                    </div>
                </div>
      
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" formControlName="email" placeholder="email" type="email" class="form-control">
                        <div *ngIf="createEmployeeForm.get('email').touched && createEmployeeForm.get('email').invalid" class="text-danger">
                            Valid email is required.
                        </div>
                    </div>
                </div>
            </div>
      
      
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Department</mat-label>
                            <mat-select formControlName="departmentId">
                                <ng-container *ngFor="let dep of department">
                                    <mat-option [value]="dep.depId">{{dep.depName}}</mat-option>
                                </ng-container>
                            </mat-select>
                            <div *ngIf="createEmployeeForm.get('departmentId').touched && createEmployeeForm.get('departmentId').invalid" class="text-danger">
                                Department is required.
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Position</mat-label>
                            <mat-select formControlName="positionId" (click)="getPosition()">
                                <ng-container *ngFor="let position of positions">
                                    <mat-option [value]="position.pid">{{position.positionName}}</mat-option>
                                </ng-container>
                            </mat-select>
                            <div *ngIf="createEmployeeForm.get('positionId').touched && createEmployeeForm.get('positionId').invalid" class="text-danger">
                                Position is required.
                            </div>
                        </mat-form-field>
                    </div>
                </div>

            </div>
      
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Role</mat-label>
                            <mat-select formControlName="roleId">
                                <ng-container *ngFor="let role of roles">
                                    <mat-option [value]="role.id">{{role.roleName}}</mat-option>
                                </ng-container>
                            </mat-select>
                            <div *ngIf="createEmployeeForm.get('roleId').touched && createEmployeeForm.get('roleId').invalid" class="text-danger">
                                Role is required.
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="data">
                    <mat-form-field class="example-full-width">
                        <mat-label> Manager Pf no./Name</mat-label>
                        <div matTooltip="Enter Manager's PF Number to whom you want to transfer the Employee" 
                             matTooltipPosition="above" 
                             matTooltipShowDelay="500">
                          <input 
                            matInput 
                            aria-label="State" 
                            [matAutocomplete]="auto" 
                            [formControl]="stateCtrl"
                            placeholder="Select Manager"
                          >
                        </div>
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let employee of filteredStates | async" [value]="employee.pf">
                            <span>{{employee.userFullName}}</span> |
                            <small>pf number: {{employee.pf}}</small>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </div>
            </div>
            <div class="actions">
                <button type="submit" class="btn btn-primary" *ngIf="!record">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span *ngIf="!loading">Create Employee</span>
                </button>           
                 <button type="submit" class="btn btn-primary" *ngIf="record">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span *ngIf="!loading">Update Employee</span>
                </button>
            </div>

        </form>
      </div>
</div>

