/* app.component.css */

  
  .border canvas {
    height: 93% !important; /* Ensure canvas takes the full height of the container */
    width: 100% !important;  /* Ensure canvas takes the full width of the container */
    margin: 10px;
  }