@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    
    
}

.container-fluid, .else{
    background-color: #f0f4f8;
}

.container-fluid {
    padding: 20px;
}

.topHeader {
   
    color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1.5em;
    font-weight: 700;
}

.section-title {
    color: #2c3e50;
    font-weight: 700;
    font-size: 1.5em;
}

.section-info {
    color: #7f8c8d;
    font-size: 1.1em;
    margin-top: 10px;
}

.attribute-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.attribute-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.attribute-name {
    color: #2c3e50;
    font-weight: 500;
    font-size: 1.2em;
}

.bestAttribute {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.attribute-title {
    font-weight: 500;
    color: #2980b9;
}

.oops-title {
    color: #e74c3c;
    font-weight: 700;
}

.oops-message {
    color: #7f8c8d;
}

.oops-list {
    color: #34495e;
}

.btn-primary {
    background-color: #2980b9;
    border: none;
    border-radius: 20px;
}

.btn-primary:hover {
    background-color: #3498db;
}

.btn-success {
    background-color: #27ae60;
    border: none;
    border-radius: 20px;
}

.btn-success:hover {
    background-color: #2ecc71;
}
.first-tab-content{
    margin-top: -10px;
}
/* Pagination controls styling */
.pagination {
    display: flex;
    justify-content: center; /* Center pagination */
    margin-top: 1rem; /* Space above pagination */
}

.pagination button {
    background-color: #007bff; /* Primary color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: .25rem; /* Rounded corners */
    padding: .5rem 1rem; /* Padding inside buttons */
    margin: 1rem .25rem; /* Space between buttons */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: .875rem; /* Font size */
}

.pagination button:disabled {
    background-color: #d6d6d6; /* Disabled color */
    cursor: not-allowed; /* Not-allowed cursor for disabled state */
}

.pagination span {
    display: flex;
    align-items: center; /* Center align text */
    margin: 0 .5rem; /* Space between text and buttons */
    font-size: .875rem; /* Font size */
}
/* Filter input styling */
.filter-input {
    margin-top: 0em;
    margin-bottom: 1rem; /* Space below the filter input */
    border: 1px solid #ced4da; /* Border color */
    border-radius: .25rem; /* Rounded corners */
    background-color: #e4e4e4;
    padding:1rem .5rem; /* Padding inside the input */
    font-size: 1rem; /* Font size */
    width: 50%; /* Full width */
}
.filter-input:focus {
    border-color: #6c9040; /* Change border color on focus */
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, 0.25); /* Add a shadow effect */
    outline: none; /* Remove default outline */
}
