<div class="container-fluid">
    <div class="row">
        <div class="col sm-5 card mx-2">
            <h4 class="greeting">{{greeting}}, {{ systemUser.user.userFullName.toUpperCase() }}</h4>
            <p class="assessment-info">The table below contains a table of assesed assesments and unassesed assesments</p>
        </div>
        <div class="col-sm-3 card department-stats">
            <h4>Department Statistics</h4>
            <p *ngIf="systemUser.user.role.id == 1">Head: <b>{{ systemUser.user.userFullName.toUpperCase() }}</b></p>
            <p *ngIf="systemUser.user.role.id == 2">Head: <b>{{ systemUser.user.manager.userFullName.toUpperCase() }}</b> </p>
            <p>Employees: <b>8</b> </p>
            <p>Assessments posted: <b>2</b> </p>
        </div>
    </div>

    <div class="table">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <th>#</th>
                <th>PF Number</th>
                <th>Employee Name</th>
                <th>Employee Type</th>
                <th>Action</th>

            </thead>
            <tbody>
                <tr *ngFor="let employee of managerEmployees; let i = index">
                    <td> {{i+1}} </td>
                    <td> {{employee.pf}} </td>
                    <td> {{employee.userFullName}} </td>
                    <td> {{employee.userType}} </td>
                    <td>
                        <button  class="btn btn-md d-flex align-items-center">
                            <mat-icon> visibility </mat-icon> view profile
                        </button>
                       
                    </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>