

<div>
  <mat-tab-group>
    <mat-tab class=" breadcrumb-arrow align-items-center" style="height: 50rem;" label="Talent Mapping: 9 Box Labels">

<div style="position: absolute; bottom: 250px;  transform: translateY(100%); margin-left: 15px;">
  <div>
       <ol class="breadcrumb-arrow align-items-center" style="transform: rotate(-90deg); transform-origin: center left;">
           <li><a style="padding: 0px 150px;">potential rating</a></li>
       </ol>
  </div>
 </div>

 <div style="position: absolute; bottom: 200px;  transform: translateY(100%);">
  <div style="margin-left: 50px;">
      <p style="position: absolute; bottom: 1200%;">A </p>
      <p style="position: absolute; bottom: 650%;">B</p>
      <p class="vertical ">C</p>
  </div>
 </div> 

 <div class="container">
  <div class="row" style="height: 10rem; padding-bottom: 47rem;">
   <mat-grid-list cols="3" rowHeight="2:1" style="margin-left: 20px;">
 
   <!-- Scale marks on x-axis--> 
   <div style="position: absolute; bottom: -85px; left: 0; width: 100%; text-align: center;">
     <ol class=" breadcrumb-arrow align-items-center">
       <li><a style="padding: 0px 300px;">Performance rating</a></li>
     </ol>
   </div>
 
   <div style="position: absolute; bottom: -50px;  ">
     <p >
       <span >1.0 to 2.9 - Performance Ratings </span>
       <span class="horizontal ">3.0 to 4.0 - Performance Rating </span>
       <span class="horizontal ">4.1 to 5.0 - Performance Rating</span>
       
     </p>
   </div>
 
   <!-- Grid items -->
   <mat-grid-tile colspan="0.6">
     <div class="grid-tile-content mat-color2">
       <p>4</p>
       <p>Rough diamond</p>
       <p>Develop, Coach, put in right role, a retention risk if potential/performance mismatch is not resolved</p>
     </div>
   </mat-grid-tile>
   
   <mat-grid-tile colspan="0.6">
     <div class="grid-tile-content mat-color1">
       <p>2</p>
       <p>Rising star</p>
       <p>Invest: Increase Challenge, offer stretch Assignments, prepare for promotion </p>
     </div>    
   </mat-grid-tile>
 
   <mat-grid-tile colspan="0.6">
     <div class="grid-tile-content mat-color1">
       <p>1</p>
       <p>Proven star</p>
       <p>
         Invest: High Risk Assignments Offer stretch responsibilities May be ready for promotion, broader  Leadership role
       </p>
     </div>  
   </mat-grid-tile>
 
   <mat-grid-tile colspan="0.6">
     <div class="grid-tile-content mat-color3">
       <p>7</p>
       <p>Inconsistent performer</p>
       <p>
         Might be in a new role? Hold crunch conversations
       </p>
     </div>  
   </mat-grid-tile>
 
   <mat-grid-tile colspan="0.6">
     <div class="grid-tile-content mat-color5">
       <p>5</p>
       <p>Key player</p>
       <p>
         Stretch & Test potential growth Increase accountability
       </p>
     </div>  
   </mat-grid-tile>
 
   <mat-grid-tile colspan="0.6">
     <div class="grid-tile-content mat-color1">
       <p>3</p>
       <p>Current star</p>
       <p>
         Retain, Appreciate & Leverage Seek opportunities to grow in current role Some of your MVPs may be here
       </p>
     </div>
   </mat-grid-tile>
 
   <mat-grid-tile colspan="0.6" rowspan="0.7">
     <div class="grid-tile-content mat-color4">
       <p>9</p>
       <p>Poor performer, limited scope for development</p>
       <p>
         Understand key challenges Transition without delay
       </p>
     </div>
   </mat-grid-tile>
 
   <mat-grid-tile colspan="0.6" rowspan="0.7">
     <div class="grid-tile-content mat-color3">
       <p>8</p>
       <p>Solid professional</p>
       <p>
         Effective employee, may have peaked potential Coach, develop, offer lateral growth
       </p>
     </div>
   </mat-grid-tile>
 
   <mat-grid-tile colspan="0.6" rowspan="0.7">
     <div class="grid-tile-content mat-color6">
       <p>6</p>
       <p>Critical contributor</p>
       <p>
         Retain & Appreciate, address intrinsic value Some of your MVPs may be here        
       </p>
     </div>
   </mat-grid-tile>
 
 </mat-grid-list>
 
  </div>
 </div>
 
</mat-tab>
<mat-tab style="height: 50rem;" label="Talent Mapping With Names">

  <div style="position: absolute; bottom: 250px;  transform: translateY(100%); margin-left: 15px;">
    <div>
         <ol class="breadcrumb-arrow align-items-center" style="transform: rotate(-90deg); transform-origin: center left;">
             <li><a style="padding: 0px 150px;">potential rating</a></li>
         </ol>
    </div>
   </div>
  
   <div style="position: absolute; bottom: 200px;  transform: translateY(100%);">
    <div style="margin-left: 50px;">
        <p style="position: absolute; bottom: 1200%;">A </p>
        <p style="position: absolute; bottom: 650%;">B</p>
        <p class="vertical ">C</p>
    </div>
   </div> 
  
   
   
   
  
  <div class="container">
   <div class="row" style="height: 10rem; padding-bottom: 47rem;">
    <mat-grid-list cols="3" rowHeight="2:1" style="position: relative; margin-left: 30px;">
    
    <!-- <div style="position: absolute; left: 0; top: 50%; transform: translateY(-50%);">
      <mat-icon style="cursor: pointer;">keyboard_arrow_left</mat-icon>
    </div>
  
    
    <div style="position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);">
      <mat-icon style="cursor: pointer;">keyboard_arrow_down</mat-icon>
    </div> -->
  
    <!-- Scale marks on x-axis--> 
    <div style="position: absolute; bottom: -85px; left: 0; width: 100%; text-align: center;">
      <ol class=" breadcrumb-arrow align-items-center">
        <li><a style="padding: 0px 300px;">Performance rating</a></li>
      </ol>
    </div>
  
    <div style="position: absolute; bottom: -50px;  ">
      <p >
        <span >1.0 to 2.9 - Performance Ratings </span>
        <span class="horizontal ">3.0 to 4.0 - Performance Rating </span>
        <span class="horizontal ">4.1 to 5.0 - Performance Rating</span>
        
      </p>
      <!-- <div class="arrow-right"></div> -->
    </div>
  
    <!-- Scale marks on y-axis -->
   
  
  
  
    <!-- Grid items -->
     <div >
      <mat-grid-tile routerLink="/talent" [state]="talentBox" >
        <div class="grid-tile-content mat-color2"  >
          <p>4</p>
          <p>Rough diamond</p>
          <ng-container *ngFor="let talent of talentBox">
            <p *ngIf="talent.talentRating === 'A3'">
              {{talent.userFullName}}
            </p>
          </ng-container>
        </div>
      </mat-grid-tile>
      
      <mat-grid-tile  routerLink="/talent" [state]="talentBox" >
        <div class="grid-tile-content mat-color1">
          <p>2</p>
          <p>Rising star</p>
          <ng-container *ngFor="let talent of talentBox" >
            <p *ngIf="talent.talentRating === 'A2'">
              {{talent.userFullName}}
            </p>
          </ng-container>
        </div>    
      </mat-grid-tile>
    
      <mat-grid-tile  routerLink="/talent"  >
        <div class="grid-tile-content mat-color1">
          <p>1</p>
          <p>Proven star</p>
          <ng-container *ngFor="let talent of talentBox">
            <p *ngIf="talent.talentRating === 'A1'">
              {{talent.userFullName}}
            </p>
          </ng-container>
        </div>  
      </mat-grid-tile>
    
      <mat-grid-tile  routerLink="/talent" >
        <div class="grid-tile-content mat-color3">
          <p>7</p>
          <p>Inconsistent performer</p>
          <ng-container *ngFor="let talent of talentBox">
            <p *ngIf="talent.talentRating === 'B3'">
              {{talent.userFullName}}
            </p>
          </ng-container>
          
        </div>  
      </mat-grid-tile>
    
      <mat-grid-tile  routerLink="/talent" >
        <div class="grid-tile-content mat-color5">
          <p>5</p>
          <p>Key player</p>
          <ng-container *ngFor="let talent of talentBox" >
            <p *ngIf="talent.talentRating === 'B2'">
              {{talent.userFullName}}
            </p>
          </ng-container>
         
        </div>  
      </mat-grid-tile>
    
      <mat-grid-tile  routerLink="/talent" >
        <div class="grid-tile-content mat-color1">
          <p>3</p>
          <p>Current star</p>
          <ng-container *ngFor="let talent of talentBox" >
            <p *ngIf="talent.talentRating === 'B1'">
              {{talent.userFullName}}
            </p>
          </ng-container>
        </div>
      </mat-grid-tile>
    
      <mat-grid-tile  routerLink="/talent" >
        <div class="grid-tile-content mat-color4">
          <p>9</p>
          <p>Poor performer, limited scope for development</p>
          <ng-container *ngFor="let talent of talentBox" >
            <p *ngIf="talent.talentRating === 'C3'">
              {{talent.userFullName}}
            </p>
          </ng-container>
        </div>
      </mat-grid-tile>
    
      <mat-grid-tile  routerLink="/talent" >
        <div class="grid-tile-content mat-color3">
          <p>8</p>
          <p>Solid professional</p>
          <ng-container *ngFor="let talent of talentBox">
            <p *ngIf="talent.talentRating === 'C2'">
              {{talent.userFullName}}
            </p>
          </ng-container>
        </div>
      </mat-grid-tile>
    
      <mat-grid-tile  routerLink="/talent" >
        <div class="grid-tile-content mat-color6">
          <p>6</p>
          <p>Critical contributor</p>
          <ng-container *ngFor="let talent of talentBox">
            <p *ngIf="talent.talentRating === 'C1'">
              {{talent.userFullName}}
            </p>
          </ng-container>
        </div>
      </mat-grid-tile>
     </div>
    
  
  </mat-grid-list>
  
   </div>
  </div>
</mat-tab>
</mat-tab-group>

</div>


 
  



