<h1 mat-dialog-title>Edit User</h1>
<div mat-dialog-content>
  <form [formGroup]="editForm">
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="userFullName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>PF</mat-label>
      <input matInput formControlName="pf">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Role ID</mat-label>
      <input matInput formControlName="roleId">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Department ID</mat-label>
      <input matInput formControlName="departmentId">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Position ID</mat-label>
      <input matInput formControlName="positionId">
    </mat-form-field>

    <mat-checkbox formControlName="locked">Locked</mat-checkbox>
    <mat-checkbox formControlName="enabled">Enabled</mat-checkbox>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</div>

