<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
          <div class="p-4">
            <div class="card-body">
              <h5 class="card-title">{{criticalRole?.role?.roleName}} Role Information</h5>
              <p class="card-text"><span class="card-Category">Strategic Importance:</span> {{criticalRole?.role?.strategicImportance}} </p>
              <p class="card-text"><span class="card-Category">Risk Impact:</span>{{criticalRole?.role?.riskImpact}} </p>
              <p class="card-text"><span class="card-Category">Vacancy Risk:</span>{{criticalRole?.role?.vacancyRisk }} </p>
              <p class="card-text"><span class="card-Category">Impact On Operations:</span>{{criticalRole?.role?.impactOnOperation}} </p>
              <p class="card-text"><span class="card-Category">Skill Experience:</span>{{criticalRole?.role?.skillExperience}} </p>
              <p class="card-text"><span class="card-Category">Average Rating:</span>{{criticalRole?.role?.averageRating}} </p>
              <p class="card-text" [ngStyle]="{'color':criticalRole?.role?.currentState}"><span class="card-Category" >Current State:</span>{{criticalRole?.role?.currentState}} </p>
    
              <a  class="btn btn-primary" (click)="criticalRoleEdit(criticalRole.role)">Edit</a>
            </div>
          </div>
        </div>
    
        <div class="col-sm-8">
          <div class="p-4">
            <button id="closclear" (click)="closeDialog()" ><mat-icon>clear</mat-icon></button>
            <div class="card-body">
              <h5 class="card-title">{{criticalRole?.role?.roleName}} Strategies Information</h5>
              <div class="strategies" *ngFor="let role of criticalRole?.strategies; let i = index">
                <h6 class="card-category"><span class="card-text ">{{i+1}}: </span>{{role.strategyName}}</h6>
              </div>
             
              <a  class="btn btn-primary">+ Strategies</a>
            </div>
          </div>
        </div>
      </div>
      <button id="closebtn" class="btn btn-md" (click)="closeDialog()">close</button>
</div>

  
