#addattr{
    justify-content: space-between;
    margin-right: 0.6em;
    border-radius: 10px;
}
.input{
    padding: 3px 10px;
    max-width: 20em;
    width: 18em;
    border: 0.3px solid rgb(165, 164, 164);
    border-radius: 10px;
    margin-bottom: 10px;
}table {
    width: 100%;
  }

  // .mat-mdc-button-touch-target{
  //   color: red;
  // }

  // .mat-mdc-paginator-range-actions{
  //   color: red;

  // }

#addattr{
    justify-content: space-between;
    margin-right: 0.6em;
    border-radius: 10px;
}
.input{
    padding: 3px 10px;
    max-width: 20em;
    width: 18em;
    border: 0.3px solid rgb(165, 164, 164);
    border-radius: 10px;
    margin-bottom: 10px;
}
.material-icons.color_green{
  color: rgb(81, 203, 206);
  background-color: #ffffff;
}
#addattr{
    align-self: flex-end;
}
