<div class="row card">
    <div class="col-sm-12 topHeader radii d-flex align-items-center justify-content-between">
      <p>Departments</p>
      <button class="btn btn-primary m-3" (click)="openDep()">Add Department</button>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{i + 1 + (paginator.pageIndex * paginator.pageSize)}} </td>
        </ng-container>
  
        <ng-container matColumnDef="depName">
          <th mat-header-cell *matHeaderCellDef>Department Name</th>
          <td mat-cell *matCellDef="let element"> {{element.depName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="positionName">
          <th mat-header-cell *matHeaderCellDef>Position Name</th>
          <td mat-cell *matCellDef="let element">
            <!-- Display positions up to the 'displayLimit' value -->
            <ng-container *ngFor="let position of element.departmentPositions | slice: 0: displayLimit">
              {{ position['positionName'] }}<br>
            </ng-container>
        
            <!-- Conditional button to toggle more positions -->
            <button class="btn btn-secondary" *ngIf="element.departmentPositions.length > displayLimit && !showAll" 
                    (click)="toggleView(element)">View More</button>
        
            <!-- View fewer button to collapse back if needed -->
            <button *ngIf="showAll" (click)="toggleView(element)">View Less</button>
          </td>
        </ng-container>
        
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [length]="departments.length"
                     [pageSize]="10"
                     [pageSizeOptions]="[4, 10, 20]"
                     showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  