<div class="container">
    <div class="row">
        <div class="col-sm-12 topHeader radii d-flex align-items-center justify-content-between">
            <button class="btn">back</button>
                <p class="ms-3">{{title}}</p>
                <button></button>
        </div>
    </div>
    <div class="row myCard justify-content-between mb-2 align-items-center">
        <div class="col-sm-8">
            <h3>{{assName}}</h3>
            <p>{{assDescription}}</p>
        </div>
        <div class="col-sm-3 card p-2">
            <h6>Statistics</h6>
            <p>Total Questions: {{userDoneQuestions.length}}</p>
            <p>Employee average: 1.3</p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-between">
            
            <div class="col-sm-6">
                <h6 class="appColor text-center">{{systemUser.userFullName}} please evaluate {{employeeName}}</h6>
                <form action="" [formGroup]="questionForm">
                    <div class="w-100" *ngFor="let quest of userDoneQuestions; let i =index">
                        <div class="questions">
                            <p>{{i + 1}}. {{quest.questionDescription}}</p>
                            <p *ngFor="let option of quest.choices; let j = index" class="ms-4">
                                <input type="radio" [value]="option" [formControlName]="quest.questionId">
                                <span class="ms-3">{{option.choiceName}}</span>
                            </p>
                        </div>
                    </div>
                    <h4 id="error" class="text-danger"></h4>
                    <button class="btn" (click) = "submitMangerAssessment()">Submit</button>
                </form>
            </div>
            <div class="card p-2 col-sm-6">
                <h6 class="appColor text-center"> {{employeeName}} self Assessment Results</h6>
                <p>Assessment: </p>
                <div class="w-100" *ngFor="let quest of userDoneQuestions; let i = index">
                    <div class="questions">
                        <p>{{i + 1 }}. {{quest.questionDescription}}</p>
                        <ul>
                            <li *ngFor="let choice of userDoneQuestions[i].choices">{{choice.choiceName}}</li>
                        </ul>
                        <p>Selected Choice: {{quest.employeeChoice.choiceName}}</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
