#strategyInput{
    width: 90%;
    padding: 15px 8px;
    border: 0.3px solid rgb(241, 241, 241);
    border-radius: 5px;
    margin: 4px;
}
#addstratbtn{
    position: relative;
    display: inline;
float: right;
}