<div class="container-fluid">
  <div class="pt-1">
    <button id="closeclear" (click)="dialogClose()"><mat-icon>clear</mat-icon></button>
  </div>
  <div class="container py-3 px-3 my-3 pt-5">
    <h4 class="">Assessing critical roles is a systematic process of identifying and evaluating the positions within an
      organization that are most essential to its success. These roles are typically characterized by a high degree of
      impact on the organization's goals, difficulty in replacing, and the possession of specialized skills or
      knowledge.</h4>
  </div>
  <mat-stepper orientation="horizontal" linear #stepper (selectionChange)="onStepChange($event)">
    <mat-step [stepControl]="roleNameFormGroup" errorMessage="Role Name Required">
      <form [formGroup]="roleNameFormGroup">
        <ng-template id="matStepLabel" matStepLabel>
          <span>Role Name</span>
        </ng-template>
        <div class="d-flex align-items-center ">
          <div>
            <mat-label class="mb-4">
              <span>Select Department Where Role Belongs</span>
            </mat-label>
            <br>
            <mat-form-field appearance="fill" class="full-width">

              <mat-label>Select Department</mat-label>
              <mat-select formControlName="department">
                <mat-option *ngFor="let name of department" [value]="name.depId" (click)="getPosition()">{{ name.depName
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="mx-5">
            <mat-label class="mb-4">
              <span>Add a Role To Assess</span>
            </mat-label>
            <br>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Select The Role</mat-label>
              <input type="text" placeholder="Pick one" formControlName="roleName" aria-label="roleName" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" >
                @for (option of filteredOptions | async; track option) {
                <mat-option [value]="option.positionName">{{option.positionName}}</mat-option>
                }
              </mat-autocomplete>

              <!-- <mat-label>Position</mat-label>
              <mat-select formControlName="roleName">
                <mat-option *ngFor="let name of positions" [value]="name.positionName">{{ name.positionName
                  }}</mat-option>
              </mat-select> -->
            </mat-form-field>
            <br>
          </div>

        </div>

        <div>
          <button class="btn btn-success text-white" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="strategicImportanceFormGroup" errorMessage="level score for strategicImportance required">
      <form [formGroup]="strategicImportanceFormGroup">
        <ng-template matStepLabel>
          <span>Strategic Importance</span>
        </ng-template>
        <label id="example-radio-group-label">select strategic Importance level for added role</label>
        <p>Strategic Importance refers to what truly matters and focusing resources and efforts towards achieving a goal
          and long term success for the organization.</p>
        <br>
        <mat-radio-group class="example" formControlName="strategicImportance">
          <mat-radio-button class="example-radio-button" *ngFor="let score of scores"
            [value]="score">{{score}}</mat-radio-button>
        </mat-radio-group>
        <br>
        <div>
          <button class="btn btn-primary" (click)="stepper.previous()">Back</button>
          <button class="btn btn-success text-white" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="revenueImpactFormGroup">
      <form [formGroup]="revenueImpactFormGroup">
        <ng-template matStepLabel>
          <span>Revenue/Value/Risk Impact</span>
        </ng-template>
        <label id="example-radio-group-label">select Revenue/Value/Risk Impact level for added role</label>
        <p>
          Revenue value refers to the total income generated by the organization from its normal business activities. It
          is a crucial metric for measuring a organizations's financial performance and overall health.</p>
        <br>
        <mat-radio-group class="example-radio-group" formControlName="revenueImpact">
          <mat-radio-button *ngFor="let score of scores" [value]="score">{{score}}</mat-radio-button>
        </mat-radio-group>
        <div>
          <button class="btn btn-primary text-white" matStepperPrevious>Back</button>
          <button class="btn btn-success text-white" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="vacancyRiskFormGroup">
      <form [formGroup]="vacancyRiskFormGroup">
        <ng-template matStepLabel>
          <span> Vacancy Risk</span>
        </ng-template>
        <label id="example-radio-group-label">select Vacancy Risk level for added role</label>
        <p>
          Vacancy risk refers to the possibility of a position remaining unfilled for a significant period of time,
          resulting in negative consequences for an organization. It highlights the financial and operational challenges
          associated with vacant positions.</p>
        <br>
        <mat-radio-group class="example-radio-group" formControlName="vacancyRisk">
          <mat-radio-button *ngFor="let score of scores" [value]="score">{{score}}</mat-radio-button>
        </mat-radio-group>
        <div>
          <button class="btn btn-primary" matStepperPrevious>Back</button>
          <button class="btn btn-success text-white" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="skillExpirienceFormGroup">
      <form [formGroup]="skillExpirienceFormGroup">
        <ng-template matStepLabel>
          <span> Skill/Expirience</span>
        </ng-template>
        <label id="example-radio-group-label">select Skill/Experience/Organisation Memory level for added role</label>
        <p>
          Level of experience/skills acquired refers to the amount of knowledge, skills, and abilities an individual
          possesses in a particular field or domain, typically gained through work, education, or training. It serves as
          an indicator of an individual's competency, proficiency, and suitability for various roles and
          responsibilities.</p>
        <br>
        <mat-radio-group class="example-radio-group" formControlName="skillExpirience">
          <mat-radio-button *ngFor="let score of scores" [value]="score">{{score}}</mat-radio-button>
        </mat-radio-group>
        <div>
          <button class="btn btn-primary" matStepperPrevious>Back</button>
          <button class="btn btn-success text-white" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="impactOnOperationFormGroup">
      <form [formGroup]="impactOnOperationFormGroup">
        <ng-template matStepLabel>
          <span> Impact on Operation</span>
        </ng-template>
        <label id="example-radio-group-label">select Impact On Operation level for added role</label>
        <p>
          Impact on operations refers to the consequences of a role change on the day-to-day activities and processes
          within an organization. It includes a wide range of potential effects, both positive and negative, that can
          influence the efficiency, effectiveness, and overall success of operations.</p>
        <br>
        <mat-radio-group class="example-radio-group" formControlName="impactOnOperation">
          <mat-radio-button *ngFor="let score of scores" [value]="score">{{score}}</mat-radio-button>
        </mat-radio-group>
        <div>
          <button class="btn btn-primary" matStepperPrevious>Back</button>
          <button class="btn btn-success text-white" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="currentStateFormGroup" *ngIf="average >= 3.5">
      <form [formGroup]="currentStateFormGroup">
        <ng-template matStepLabel>
          <span> Current State</span>
        </ng-template>
        <mat-form-field>
          <mat-label>Current State</mat-label>
          <mat-select formControlName="currentState">
            <mat-option value="red">Red</mat-option>
            <mat-option value="amber">Amber</mat-option>
            <mat-option value="green">Green</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button class="btn btn-primary" (click)="stepper.previous()">Back</button>
          <button class="btn btn-success text-white" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>



    <mat-step [stepControl]="talentStrategyFormGroup" *ngIf="average >= 3.5">
      <form [formGroup]="talentStrategyFormGroup">
        <!-- Other form controls -->
        <ng-template matStepLabel>
          <span> Talent Strategy</span>
        </ng-template>
        <p>
          Talent Strategy is a comprehensive plan that outlines an organization's approach to attracting, developing,
          engaging, and retaining top talent. It serves as a roadmap to ensure you have the right people in the right
          roles at the right time to achieve your business goals.</p>

        <!-- Role Development Strategies -->
        <mat-label>
          <span>Talent Strategy To Adopt</span>
        </mat-label>
        <div formArrayName="roleDevelopmentStrategies">
          <div *ngFor="let strategy of roleDevelopmentStrategiesFormArray.controls; let i=index" [formGroupName]="i">
            <input id="strategyInput" type="text" formControlName="strategyName" placeholder="Strategy Name">
            <button id="deleteStrategy" class="btn btn-danger text-white"
              (click)="deleteStrategy(i)"><mat-icon>delete</mat-icon></button>
            <!-- You can add more form controls for other properties of the strategy -->
          </div>
        </div>
        <div class="button-strategy">
          <button type="button" class="btn btn-md btn-success" (click)="addStrategy()">Add Strategy</button>

        </div>
        <div>
          <button class="btn btn-primary" (click)="stepper.previous()">Back</button>
          <button class="btn btn-success text-white" matStepperNext>Next</button>
        </div>
      </form>
      <!-- <form [formGroup]="talentStrategyFormGroup">

          <mat-form-field style="width: 70vw;">
            <mat-label>
                <span >Talent Strategy To Adopt</span>    
               </mat-label>
            <textarea 
            style="border: none;"
            matInput 
            placeholder="Talent Strategy To Adopt" 
            formControlName="talentStrategy"
            rows="8" cols="100"
            required></textarea>
          </mat-form-field>
          <div>
            <button class="btn btn-primary" (click)="stepper.previous()">Back</button>
            <button class="btn btn-success text-white" matStepperNext>Next</button>
          </div>
        </form> -->
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <em>You are now Done</em>
      </ng-template>
      <span class="card-category">Summary.</span>
      <div class="table">
        <table class="table table-bordered">
          <thead>
            <th>Item</th>
            <th>Level</th>
          </thead>
          <tbody>

            <tr>
              <td>{{roleNameFormGroup.value.roleName}}</td>
            </tr>
            <tr>
              <td>Strategic Importance</td>
              <td>{{strategicImportanceFormGroup.value.strategicImportance}}</td>
            </tr>
            <tr>
              <td>Risk Impact</td>
              <td>{{revenueImpactFormGroup.value.revenueImpact}}</td>
            </tr>
            <tr>
              <td>Vacancy Risk</td>
              <td>{{vacancyRiskFormGroup.value.vacancyRisk}}</td>
            </tr>
            <tr>
              <td>impact On Operation</td>
              <td>{{impactOnOperationFormGroup.value.impactOnOperation}}</td>
            </tr>
            <tr>
              <td>Skill Experience</td>
              <td>{{skillExpirienceFormGroup.value.skillExpirience}}</td>
            </tr>
            <tr>
              <td>Average Rating</td>
              <td>{{average}}</td>
            </tr>
            <tr>
              <td>Current State</td>
              <td>{{currentStateFormGroup.value.currentState}}</td>
            </tr>
            <tr>
              <td>Strategies</td>
              <td>
            <tr *ngFor="let item of strategy">
              <td>{{item.strategyName}}</td>
            </tr>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button class="btn btn-warning" (click)="stepper.reset()">Reset</button>
        <button class="btn btn-primary" (click)="stepper.previous()">Back</button>
        <ng-container *ngIf="isSubmitting; else elseTemplate">
          <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="visually-hidden">Loading...</span>
          </button>
        </ng-container>
        <ng-template #elseTemplate>
          <button class="btn btn-success text-white" (click)="processValues()">Submit</button>
        </ng-template>

      </div>
    </mat-step>
  </mat-stepper>
  <div class="row">
    <div class="score-guide col-md-5">
      <h5 class="card-category mb-0 guide">Scoring Guide</h5>
      <table class="table table-bordered">
        <thead>

          <tr>
            <th>Score</th>
            <th>Meaning</th>
          </tr>

        </thead>
        <tbody>
          <tr>
            <td>0 - 2</td>
            <td>The skill is less critical</td>
          </tr>
          <tr>
            <td>3 - 4</td>
            <td>Modarate</td>
          </tr>
          <tr>
            <td>4 - 5</td>
            <td>high</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="container col-md-7">
      <h6>Guide to Determining Current State</h6>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>State</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr>
            <td style="background-color: red;">Red</td>
            <td>No known successor, or known successor will be ready in longer than 2 years</td>
          </tr>
          <tr>
            <td style="background-color: rgba(252, 204, 14, 0.756);">Amber</td>
            <td>A known successor will be ready in 1 - 2 years</td>
          </tr>
          <tr>
            <td style="background-color: green;">Green</td>
            <td>We have a ready now successor for the role</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="dialog-close">
    <button id="closeRole" (click)="dialogClose()" class="btn btn-md">close</button>
  </div>
</div>