th{
    background-color: #44546A !important;
    color: #FFFFFF;
    font-weight: bold;
    border-right: 1px solid black;
}
td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
table p{
    color: #44546A;
    font-weight: bold;

}
