/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
 @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
//@import '@angular/material/prebuilt-themes/purple-green.css';
.title{
    color: rgb(95, 95, 95);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 700;
}
.primary-background{
    background-color: rgb(125, 125, 125);
    color: white;
}
.secondary-background{
    background-color: rgb(124, 28, 28);
    color: white;
}
h1{
    color: rgb(54, 54, 54);
    font: 1em sans-serif;
    font-size: 30px;
    font-weight: 900;
}
h2{
    color: rgb(54, 54, 54);
    font: 1em sans-serif;
    font-size: 27px;
    font-weight: 800;
}
h3{
    color: rgb(54, 54, 54);
    font: 1em sans-serif;
    font-size: 23px;
    font-weight: 700;
}
h4{
    color: rgb(54, 54, 54);
    font: 1em sans-serif;
    font-size: 20px;
    font-weight: 600;
}
h5{
    color: rgb(54, 54, 54);
    font: 1em sans-serif;
    font-size: 18px;
    font-weight: 500;
}
h6{
    color: rgb(54, 54, 54);
    font: 1em sans-serif;
    font-size: 15px;
    font-weight: 500;
}
td{
    color: green($color: #767676);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th{
    color: green($color: #4d4c4c);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.card-text{
    color: rgb(159, 159, 159);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 700;
}
p{
 font-size: 14px;
 font-weight: 200;
}