.card-category{
    color: rgb(163,42,41);
}
.graph{
    text-align: center;
}
.card-title{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}