.container{
    border-radius: 5px;
    padding: 25px;
    background: rgb(234, 233, 233);
}
button{
    color: white;
}
#submit{
    position: relative;
    float: right;
}
#add-position{
  position: relative;
  float: left;
  margin-top: -1rem;
}

input .ng-invalid.ng-touched{
    border: 2px solid;
    color: white;
}
.form-control{
  padding: 10px 7px;
  background-color: white;
}
@keyframes slideFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .custom-snackbar {
    background-color: #333;
    color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: slideFromTop 0.5s ease-out;
  }
  
  